# Package Files #
*.jar
*.war
*.ear
*.class

**/target/**
**/lib/**
**/nb-configuration.xml
**/nb-actions.xml
/WebOrganizerPOM/Guis/WebOrganizer/target/
/WebOrganizerPOM/Services/OrganizerServices-api/target/
/WebOrganizerPOM/Services/OrganizerServices-impl/target/