# Package Files #
*.jar
*.war
*.ear
*.class

**/target/**
**/lib/**
**/nb-configuration.xml
**/nbactions.xml
/WebOrganizerPOM/Guis/WebOrganizer/target/
/WebOrganizerPOM/Services/OrganizerServices-api/target/
/WebOrganizerPOM/Services/OrganizerServices-impl/target/
/WebOrganizerPOM/Model/target/
/WebOrganizerPOM/Daos/OrganizerDao-impl/target/
/WebOrganizerPOM/Daos/OrganizerDao-api/target/